.Home{
  position: relative;
  width: 1512px;
  height: 982px;
}
.imageContainer{
position: absolute;
width: 1065px;
height: 1126px;
left: 814px;
top: -7px;
.johnnysunny{
  position: absolute;
  left: 25.3%;
  right: -4.4%;
  top: 0%;
  bottom: 20.9%;
  
  // background: url(.png);
  transform: matrix(0.95, 0.33, -0.3, 0.95, 0, 0);
  }
}

.portfolioHeader{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 20px;
gap: 72px;
background-color: aqua;

position: absolute;
width: 1512px;
height: 10px;
left: 0px;
top: 0px;
}
.logoContainer{
  display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 10px;

width: 63px;
height: 29px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.logo{
  width: 63px;
height: 29px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
/* identical to box height */


/* secondary color */

border: 1px solid #1DFC5C;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}