@import "../../global.scss";

.footer {
    background-color: #051001;
    color: #fff;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem;
    // position: relative;
    p {
      color: #fff;
    }
    @include mobile {
     
     margin-bottom: 0px;
    }
  }